version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_turismo
    environment:
      POSTGRES_DB: bd_turismo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongodb:
    image: mongo:latest
    container_name: mongodb_turismo
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
  
  redis:
    image: redis:6.2-alpine
    container_name: redis_turismo
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  mongodata:
  redisdata:
