services:
  postgres:
    image: postgres:15
    container_name: postgres_turismo
    environment:
      POSTGRES_DB: bd_turismo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:


